@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --pink:#ef5777;
   --white:#fff;
   --black:#222;
   --transparent-white:rgba(255,255,255,.3);
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background: transparent;
}

html::-webkit-scrollbar-thumb{
   background: var(--pink);
}

body{
   background: url(../images/background-img.png) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.container{
   border-radius: .5rem;
   overflow: hidden;
   background: var(--transparent-white);
   backdrop-filter: blur(.5rem);
   max-width: 1200px;
   margin:10rem auto;
   box-shadow: var(--box-shadow);}
   


.heading{
   text-align: center;
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 2rem;
   font-size: 5rem;
}

.btn{
   display: inline-block;
   padding:1rem 3rem;
   border:var(--border);
   background: var(--transparent-white);
   color:var(--black);
   border-radius: .5rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   margin-top: 1rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--black);
   color:var(--white);
}

section{
   padding:2rem;
}

.contact form{
   padding:2rem;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   background: var(--transparent-white);
}

.contact form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.contact form .flex .inputBox{
   flex:1 1 41rem;
}

.contact form .flex .inputBox span{
   display: block;
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--black);
}

.contact form .flex .inputBox input,
.contact form .flex .inputBox textarea,
.contact form .flex .inputBox select{
   width: 100%;
   padding:1.2rem 1.4rem;
   border:var(--border);
   border-radius: .5rem;
   font-size: 1.7rem;
   background: var(--transparent-white);
}

.contact form .flex .inputBox textarea{
   height: 5rem;
   resize: none;
}

.contact form .btn{
   margin-top: 2rem;
}







@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .container{
      margin:2rem;
   }

  /* .services .slide*/ .content p{
      font-size: 1.3rem;
   }

   .contact form .btn{
      display: block;
      width: 100%;
   }

}